{% extends "base.html" %}

{% block content %}
<div class="container-fluid" style="display:inline-block; text-align: center;">
    <div class="row content">
        <div class="col-sm-12">
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
{%for field in form%}
        <li class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{field.name}}</h5>
            </div>
            <p class="mb-1">{{field}}</p>
        </li>

            {%endfor%}
<input type="submit" value="Create">

</form>
<hr>
<a href="{{ request.META.HTTP_REFERER }}">Go Back</a>

        </div>
    </div>
</div>


{% endblock %}
