{% extends "base.html" %}

{% block content %}

<div class="container-fluid" style="display:inline-block; text-align: center;">
    <div class="row content">
        <div class="col-sm-12">
<p>User: {{auction.user}}</p>
<p>Title: {{auction.title}}</p>
<p>Description: {{auction.description}}</p>
<p>Image: {{auction.image}}</p>
<p>Category: {{category.name}}</p>
<p>Min bid: {{auction.min_bid}}</p>
<p>Current bid: {{auction.final_bid}}</p>
<p>BuyNow bid: {{auction.max_bid}}</p>
<p>Auction start: {{auction.auction_start}}</p>
<p>Auction end: {{auction.auction_end}}</p>
<p>Auction active: {{auction.auction_active}}</p>
<p>View count: {{auction.views_count}}</p>


{% if auction_details.auction_active %}
<a href="{% url 'auction_bid' auction.id %}" class="btn btn-primary">Bid</a>
<a href="{% url 'auction_buynow' auction.id %}" class="btn btn-primary">BuyNow</a>
{% else %}
<p>This Auction is OVER!</p>
{% endif %}

<hr>
<a href="{{ request.META.HTTP_REFERER }}">Go Back</a>

        </div>
    </div>
</div>



{% endblock %}
