{% extends "base.html" %}
{% block content %}
{% load static %}

<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="{% static 'auction/multi-countdown.js' %}"></script>
<script type="text/javascript"></script>


<div class="container" style="padding-top: 5px; padding-bottom: 5px;">
    <div class="d-flex justify-content-between">
        <form class="form-inline">
                <div class="input-group">
                    {% if auctions_filter %}
                    <input class="form-control input-sm" type="text" name="filter_by" value="{{auctions_filter}}">
                    {% else %}
                    <input class="form-control input-sm" type="text" placeholder="Search.." name="filter_by">
                    {% endif %}
                    <button class="btn btn-outline-success input-sm" type="submit"><i class="fa fa-search"></i></button>
                </div>
        </form>
        <div class="dropdown">
            <button class="btn btn-outline-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sort by:
            </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'main_page' %}?ordering=-auction_start&category={{category|default_if_none:'all'}}">Newest first</a>
                <a class="dropdown-item" href="{% url 'main_page' %}?ordering=min_bid&category={{category|default_if_none:'all'}}">Min Bid Ascending</a>
                <a class="dropdown-item" href="{% url 'main_page' %}?ordering=-min_bid&category={{category|default_if_none:'all'}}">Min Bid Descending</a>
                <a class="dropdown-item" href="{% url 'main_page' %}?ordering=max_bid&category={{category|default_if_none:'all'}}">BuyNow Price Ascending</a>
                <a class="dropdown-item" href="{% url 'main_page' %}?ordering=-max_bid&category={{category|default_if_none:'all'}}">BuyNow Price Descending</a>
                </div>
        </div>

    </div>
</div>
{% if auctions %}
{% for auction in auctions %}

<div class="col-lg-3 col-md-4 col-sm-6">
    <div class="card h-100">
    {% if auction.image %}
        <img class="card-img-top" src="{{ auction.image.url }}"style="">
        {% else %}
        <img class="card-img-top" src="{% static 'auction/noimage.jpg' %}">
        {% endif %}
            <div class="card-body">
            <h4 class="card-title">{{auction.title}}</h4>
                <div class="countdown show" data-Date='{{auction.auction_end}}'>
                <div class="running">
                <timer>
                <span class="days"></span><div class="labels">d</div>
                <span class="hours"></span><div class="labels">h</div>
                <span class="minutes"></span><div class="labels">m</div>
                <span class="seconds"></span><div class="labels">s</div>
                </timer>
                </div>
                </div>
            </div>
            <div class="card-footer">

            {% if auction.auction_active %}
            <a href="{% url 'auction_details' auction.id %}" class="btn btn-primary">View Auction</a>
            {% else %}
            <a href="{% url 'auction_details' auction.id %}" class="btn btn-warning">Expired Auction</a>
            {% endif %}
            </div>
    </div>
</div>

{% endfor %}
{% endif %}




{% endblock %}