{% extends "base.html" %}

{% block content %}
<div class="container-fluid" style="display:inline-block; text-align: center;">
    <div class="row content">
        <div class="col-sm-12">
{% if auction_details.auction_active %}
<p>BuyNow bid: {{auction_details.max_bid}}</p>


<form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class="btn btn-primary">BuyNow</button>
</form>
{% else %}
<p>This Auction is OVER!</p>
{% endif %}


<hr>
<a href="{{ request.META.HTTP_REFERER }}">Go Back</a>


        </div>
    </div>
</div>
{% endblock %}