{% extends "base.html" %}
{% block content %}
{% load static %}

<table class="table">
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Firstname</th>
            <th>Email</th>
            <th>Balance</th>
            <th>Country</th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user.user.id }}</a></td>
                <td> <a href="{% url 'profile_details' user.user.id %}">{{ user.user.username }}</a></td>
                <td>{{ user.user.first_name }}</td>
                <td>{{ user.user.email }}</td>
                <td>{{ user.balance }}</td>
                <td>{{ user.country }}</td>
            </tr>
        {% endfor %}

</table>


{% endblock %}